<div class="container">
  <h1>Deaf Grandma</h1>
  <% if @message %>
    <p>Grandma says: "<span id="grandma_says"><%= @message %></span>"</p>
  <% end %>
  <form action="/grandma" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    Say something to Grandma:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>
</div>
